html {
	font-size: 10px;
}

/* colors, fonts etc are from https://bench.co/press-kit/#brand */

body {
	margin: 0;
	font-family: "LLCircularWeb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #EFEDE8;
	font-size: 1.6rem;
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

tr:target {
	background-color: #D2A764;
	color: white;
}

.main-header {
	line-height: 6rem;
	color: white;
	background-color: #098B8C;
	text-align: center;
}
.main-header h1 {
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;
}

.container {
	width: 100rem;
	margin: 0 auto;
	padding-bottom: 6rem;
}

.section-header {
	font-size: 2rem;
}

.help {
	border-bottom: 1px dotted;
	cursor: help;
}

.sum-table {
	width: 100%;
	background-color: white;
	border-radius: 0.3rem;
	border: 1px solid #ececec;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	font-weight: 500;
}

.sum-table th,
.sum-table td {
	padding: 1.2rem;
}

.sum-table tr {
	border-bottom: 1px solid #ececec;
}
.sum-table tbody tr:last-child {
	border: none;
}

.sum-table > thead {
	text-align: left;
	color: #098B8C;
	font-size: 1.7rem;
}

.sum-table > tbody {
	background-color: #fafafa;
}
.sum-table > tbody > tr:first-child {
	background-image: linear-gradient(to bottom, #f6f6f6, #fafafa); /* mock has subtle gradient */
}

/* total, percent and benchmark columns */
.transactions .sum-table th:nth-child(4),
.transactions .sum-table td:nth-child(4),
.expenses .sum-table th:nth-child(2),
.expenses .sum-table td:nth-child(2),
.expenses .sum-table th:nth-child(3),
.expenses .sum-table td:nth-child(3),
.expenses .sum-table th:nth-child(4),
.expenses .sum-table td:nth-child(4),
.expense-details-table td:nth-child(3) {
	text-align: right;
}

/* date and account columns */
.transactions .sum-table td:nth-child(1),
.transactions .sum-table td:nth-child(3),
.loading {
	color: #8C8981;
}

.transactions .sum-table .row-income td {
	color: #098B8C;
}

.expenses .col-category {
	width: 65%;
}

.expenses tbody td {
	vertical-align: top;
}

.expenses summary {
	cursor: pointer;
	margin-bottom: 0.7rem;
}

.expense-details-table {
	width: 100%;
	border-collapse: collapse;
	font-weight: normal;
	margin-left: 0.8rem;
}

.expense-details-table > thead {
	text-align: left;
}

.expense-details-table th,
.expense-details-table td {
	padding: 1rem; /* reduce */
}

.expenses .expense-details-table td:nth-child(2) {
	text-align: left;
}
